<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User ||
        <%= user.username %>
    </title>
</head>

<body>
    <div>
        <h1>
            <%= user.username %>
        </h1>
        <p>
            Password:
            <%= user.password %>
        </p>
        <% if (biodata !=null) { %>
            <p>Name:
                <%= biodata.name %>
            </p>
            <p>Gender:
                <%= biodata.gender %>
            </p>
            <p>Address:
                <%= biodata.address %>
            </p>
            <p>Phone:
                <%= biodata.phone %>
            </p>
            <% } %>
                <% if (history !=null) { %>
                    <p>Play Time:
                        <%=history.playTime %>
                    </p>
                    <p>Score:
                        <%= history.score %>
                    </p>
                    <% } %>
    </div>
</body>

</html>