<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Edit ||
        <%= user.username %>
    </title>
</head>

<body>
    <form action="/api/v1/users/<%= id %>" method="POST">
        <label for="username">Username</label>
        <br>
        <input type="text" name="username" value="<%= user.username %>">
        <br>
        <label for="password">Password</label>
        <br>
        <input type="text" name="password" value="<%= user.password %>">
        <br>
        <label for="name">Name</label>
        <br>
        <input type="text" name="name" value="<% if (biodata != null) __append(biodata.name) %>">
        <br>
        <label for="gender">Gender</label>
        <br>
        <select id="gender" name="gender">
            <option value="L" <% if (biodata != null) { if (biodata.gender == 'L') {%> selected="true" <% }} %> >Laki-laki</option>
            <option value="P" <% if (biodata != null) { if (biodata.gender == 'P') {%> selected="true" <% }} %> >Perempuan</option>
            <option value="N" <% if (biodata != null) { if (biodata.gender == 'N') {%> selected="true" <% }} %> >Non-binary</option>
        </select>
        <br>
        <label for="address">Address</label>
        <br>
        <input type="text" name="address" value="<% if (biodata != null) __append(biodata.address) %>">
        <br>
        <label for="phone">Phone</label>
        <br>
        <input type="number" name="phone" value="<% if (biodata != null) __append(biodata.phone) %>">
        <br>
        <label for="playTime">Play Time</label>
        <br>
        <input type="time" name="playTime" step="1" value="<% if (history != null) __append(history.playTime) %>">
        <br>
        <label for="score">Score</label>
        <br>
        <input type="number" name="score" value="<% if (history != null) __append(history.score) %>">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>