<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard || Index</title>
</head>

<body>
    <% users.forEach(i => { %>
        <div>
            <h1>
                <%= i.username %>
            </h1>
            <p>
                <%= i.password %>
            </p>
            <a href="/users/<%= i.id %>">Detail</a>
            <a href="/edit/<%= i.id %>">Edit</a>
            <a href="/delete/<%= i.id %>">Delete</a>
        </div>
        <% })%>
</body>

</html>