<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,500,700,900">
    <title>Game Suit</title>
</head>

<body>
    <div id="home-section">
        <div class="home-section__navbar">
            <nav class="navbar py-4 navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid main-container">
                    <a class="navbar-brand" href="#">Logo</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Work</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About Me</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sign Up</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="home-section__description d-flex mx-3 flex-column align-items-center">
            <h1 class="home-section__description__items">PLAY TRADITIONAL GAME</h1>
            <h3 class="home-section__description__items">Experience new traditional gameplay</h3>
            <button type="button" onclick="goToGame()" class="btn btn-warning btn-play home-section__description__items">TRIAL</button>
        </div>
        <div class="home-section__bottom">
            <h6>The Story</h6>
            <svg class="svg-arrow" onclick="smoothScroll()" id="btn-scroll" width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.5786 1.83362H1.32422L11.338 10.0027L21.5786 1.83362Z" stroke="white" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    </div>
    <div id="items-section">
        <div class="row main-container items-padding">
            <div class="items-section__description col-12 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <h5>What's so special?</h5>
                <h1>THE GAMES</h1>
            </div>
            <div class="items-section__carousel col-12 col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div id="carouselExampleDark" class="carousel slide items-carousel" data-bs-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
                        <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
                        <li data-bs-target="#carouselExampleDark" data-bs-slide-to="3"></li>
                        <li data-bs-target="#carouselExampleDark" data-bs-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="images/assets/rockpaperstrategy-1600 1.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="images/assets/rockpaperstrategy-1600 1.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="images/assets/rockpaperstrategy-1600 1.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="images/assets/rockpaperstrategy-1600 1.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="images/assets/rockpaperstrategy-1600 1.png" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="features-section">
        <div class="features-container">
            <h3>What's so special?</h3>
            <h1>FEATURES</h1>
            <ul class="features-section__timeline">
                <li class="timeline-is-active">
                    <h3>TRADITIONAL GAMES</h3>
                    <p>If you miss your childhood, we provide many traditional games here</p>
                </li>
                <li>
                    <h3>GAME SUIT</h3>
                </li>
                <li>
                    <h3>TBD</h3>
                </li>
            </ul>
        </div>
    </div>
    <div id="requirements-section">
        <div class="requirements-container">
            <h3>Can My Computer Run This Game?</h3>
            <h1>SYSTEM REQUIREMENTS</h1>
            <div class="row-container">
                <div class="row">
                    <div class="col-sm">
                        <p class="requirements-section__title">OS: </p>
                        <p class="requirements-section__description">Windows 7 64-bit only (No OSX support at this time)
                        </p>
                    </div>
                    <div class="col-sm">
                        <p class="requirements-section__title">PROCESSOR: </p>
                        <p class="requirements-section__description">Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p class="requirements-section__title">MEMORY:</p>
                        <p class="requirements-section__description">4 GB RAM</p>
                    </div>
                    <div class="col-sm">
                        <p class="requirements-section__title">STORAGE: </p>
                        <p class="requirements-section__description">8 GB available space</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p class="requirements-section__title">GRAPHICS: </p>
                        <p class="requirements-section__description">NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="review-section">
        <div class="review-section__flex main-container d-flex justify-content-center align-items-center">
            <div class="review-section__flex__items review-section__score">
                <h1>TOP SCORES</h1>
                <h3 class="mt-3 mb-5">This top score from various games provided on this platform</h3>
                <button type="button" class="btn btn-see-more">SEE MORE</button>
            </div>
            <div class="review-section__flex__items">
                <div class="review-card card review-card-margin">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="d-flex align-items-center">
                                <img src="images/persons/image 8.svg" alt="Image" class="rounded-circle review-card__image">
                                <div class="review-card__image-background"></div>
                                <div class="mx-4 mt-3">
                                    <h3 class="review-card__name">Evan Lahti</h3>
                                    <h5 class="review-card__occupation">PC Gamer</h5>
                                </div>
                                <svg class="review-card-twitter" width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.3"
                                        d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z"
                                        fill="white" />
                                </svg>
                            </div>
                        </div>
                        <p class="card-text review-card__quotes">“One of my gaming highlights of the year.”</p>
                        <p class="review-card__date">October 18, 2018</p>
                    </div>
                </div>
                <div class="review-card card my-4 review-card-margin">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="d-flex align-items-center">
                                <img src="images/persons/image.svg" alt="Image" class="rounded-circle review-card__image">
                                <div class="review-card__image-background"></div>
                                <div class="mx-4 mt-3">
                                    <h3 class="review-card__name">Jada Griffin</h3>
                                    <h5 class="review-card__occupation">Nerdreactor</h5>
                                </div>
                                <svg class="review-card-twitter" width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.3"
                                        d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z"
                                        fill="white" />
                                </svg>
                            </div>
                        </div>
                        <p class="card-text review-card__quotes">“The next big thing in the world of streaming and survival games.”</p>
                        <p class="review-card__date">December 21, 2018</p>
                    </div>
                </div>
                <div class="review-card card review-card-margin">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="d-flex align-items-center">
                                <img src="images/persons/image (1).svg" alt="Image" class="rounded-circle review-card__image">
                                <div class="review-card__image-background"></div>
                                <div class="mx-4 mt-3">
                                    <h3 class="review-card__name">Aaron Williams</h3>
                                    <h5 class="review-card__occupation">Uproox</h5>
                                </div>
                                <svg class="review-card-twitter" width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.3"
                                        d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z"
                                        fill="white" />
                                </svg>
                            </div>
                        </div>
                        <p class="card-text review-card__quotes">“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”
                        </p>
                        <p class="review-card__date">December 24, 2018</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="subscription-section">
        <div class="subscription-container mx-auto">
            <div class="d-flex flex-row align-content-center justify-content-center align-items-center subscription-flex">
                <div class="subscription-image subscription-items"></div>
                <div class="subscription-items">
                    <h3>Want to stay in touch?</h3>
                    <h2 class="my-3">Newsletter Subscribe</h2>
                    <p class="mb-5">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
                    <div class="row g-3 align-items-center subscription-btn-container">
                        <div class="col-7 subscription-btn-items">
                            <input type="email" id="email" placeholder="Your email address" class="form-control p-3 form-email" aria-describedby="Email">
                        </div>
                        <div class="col-5 subscription-btn-items">
                            <button type="submit" class="btn btn-subscribe p-3">Subscribe Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-container mx-auto">
            <div class="d-flex justify-content-end footer-flex">
                <ul class="d-flex footer-flex">
                    <li><a href="#">Main</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Game Features</a></li>
                    <li><a href="#">System Requirements</a></li>
                    <li><a href="#">Quotes</a></li>
                </ul>
                <ul class="d-flex">
                    <li>
                        <svg class="svg footer-facebook" width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M6.65382 19.1726H2.56282V9.67859H0.517822V6.40559H2.56282V4.44159C2.56282 1.77259 3.71782 0.183594 6.99582 0.183594H9.72582V3.45659H8.02082C6.74282 3.45659 6.65882 3.91459 6.65882 4.76859L6.65382 6.40559H9.74582L9.38382 9.67859H6.65382V19.1726Z"/>
                        </svg>
                    </li>
                    <li>
                        <svg class="svg footer-twitter" width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.2138 2.42967C20.4408 2.75167 19.6098 2.96667 18.7388 3.06467C19.6288 2.56467 20.3118 1.77267 20.6338 0.830668C19.7998 1.29267 18.8778 1.62867 17.8958 1.81067C17.1108 1.02467 15.9898 0.534668 14.7508 0.534668C12.3708 0.534668 10.4398 2.34367 10.4398 4.57367C10.4398 4.89067 10.4778 5.19967 10.5518 5.49467C6.96981 5.32567 3.79381 3.71767 1.66781 1.27467C1.29681 1.87167 1.08481 2.56467 1.08481 3.30567C1.08481 4.70567 1.84581 5.94367 3.00181 6.66767C2.29581 6.64567 1.63181 6.46467 1.04981 6.16167C1.04981 6.17967 1.04981 6.19467 1.04981 6.21367C1.04981 8.17067 2.53481 9.80267 4.50681 10.1737C4.14581 10.2657 3.76381 10.3137 3.37181 10.3137C3.09381 10.3137 2.82381 10.2897 2.56081 10.2437C3.10881 11.8467 4.70081 13.0157 6.58681 13.0487C5.11181 14.1317 3.25381 14.7767 1.23381 14.7767C0.885811 14.7767 0.542811 14.7577 0.205811 14.7207C2.11281 15.8657 4.37881 16.5357 6.81281 16.5357C14.7408 16.5357 19.0758 10.3797 19.0758 5.04267C19.0758 4.86667 19.0708 4.69367 19.0628 4.51967C19.9048 3.94967 20.6358 3.23867 21.2138 2.42967Z"/>
                            </svg>
                    </li>
                    <li>
                        <svg class="svg footer-youtube" xmlns="http://www.w3.org/2000/svg" fill="none" width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z" />
                        </svg>
                    </li>
                    <li>
                        <svg class="svg footer-twitch" width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M19.9602 13.6252V9.5538V0.680176H2.93894L0.811279 2.97688V15.0868H6.13043V18.845H8.47085L11.024 16.1307H17.407L19.9602 13.6252ZM7.40694 13.4165H4.00268C3.76864 13.4165 3.57715 13.2286 3.57715 12.9989V2.76817C3.57715 2.5385 3.76864 2.35059 4.00268 2.35059H17.6197C17.8537 2.35059 18.0452 2.5385 18.0452 2.76817V10.7022C18.0452 10.8171 18.0027 10.9215 17.9229 10.9998L15.5825 13.2965C15.5027 13.3748 15.391 13.4165 15.2793 13.4165H11.3697L8.07183 15.6401C8.00268 15.6871 7.91757 15.7132 7.83247 15.7132C7.76332 15.7132 7.69949 15.6976 7.63566 15.6662C7.49204 15.5932 7.40694 15.4522 7.40694 15.2956V13.4165Z"/>
                            <path
                                d="M13.79 9.76274V5.58691H12.0878V9.76274H13.79ZM9.53465 9.76274V5.58691H7.83252V9.76274H9.53465Z"/>
                        </svg>
                    </li>
                </ul>
            </div>
            <hr class="mb-4">
            <div class="footer-services d-flex footer-services-flex justify-content-between">
                <p class="footer-copyright"> © 2018 Your Games, Inc. All Rights Reserved</p>
                <ul class="d-flex footer-services-flex">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Services</a></li>
                    <li><a href="#">Code of Conduct</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="../../index.js"></script>
</body>

</html>