<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles
        <%= article.title %>
    </title>
</head>

<body>
    <div>
        <h1>
            <%= article.title %>
        </h1>
        <p>
            <%= article.body %>
        </p>
    </div>
</body>

</html>
